body {

background-color: blueviolet;

}


   h1{

    color: aquamarine;

    margin-left: 20px;

   }
   h2{

    color: rgb(78, 21, 182);

    margin-left: 40px;

   }
   p{

    color: rgb(61, 197, 27);

    margin-left: 20px;

   }